<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections></configSections>
	<appSettings>
		<add key="user_code" value="cclk" />
		<add key="appid" value="cclk" />
		<add key="appsecret" value="cclk123@cclk" />
		<add key="factoryWmsUrl" value="http://192.168.60.24:8080/thb-cloud/rest" />
		<add key="liftWmsUrl"    value="http://192.168.60.31:8010" />
		<add key="MesServiceUrl" value="http://192.168.60.21:9000/api/Hmes/GetData"/>
		<add key="AgvUrl"		 value="http://172.16.62.17:8085/api/thwcs/addTasks"/>

		<add key="/api/WcsService/WcsReport" value="wcs_normal" />
		
		<add key="/api/LiftWmsService/SyncInventory" value="lift" />
		<add key="/api/LiftWmsService/MaterialQuery" value="lift" />

		<add key="/api/MesService/StationRotation" value="mes" />
		<add key="/api/MesService/MaterialReqOut" value="mes" />
		<add key="/api/MesService/MaterialReqReturn" value="mes" />
		<add key="/api/MesService/MaterialReqManuallyOut" value="mes" />
		<add key="/api/MesService/ChangeInventory" value="mes" />
		<add key="/api/MesService/FinishedProductReqIn" value="mes" />
		<add key="/api/MesService/IssuePlanQuery" value="mes"/>

		<add key="/api/AgvService/AgvReport" value="agv" />
		
		<add key="/api/PdaService/LoginUserValidation" value="wms" />
		<add key="/api/PdaService/GetWarehouse" value="wms" />
		<add key="/api/PdaService/GetStationByWarehouse" value="wms" />
		<add key="/api/PdaService/GetTerminalIssuePlan" value="wms" />
		<add key="/api/PdaService/GetPlanList" value="wms" />
		<add key="/api/PdaService/PlanSeqQuery" value="wms" />
		<add key="/api/PdaService/MaterialInbound" value="wms" />
		<add key="/api/PdaService/ManuallyExecutePlan" value="wms" />
		<add key="/api/PdaService/MaterialGroupBox" value="wms" />
		<add key="/api/PdaService/MaterialReturnInbound" value="wms" />
		<add key="/api/PdaService/ProcessEmptyMaterial" value="wms" />
		<add key="/api/PdaService/MaterialCheckInbound" value="wms" />
		<add key="/api/PdaService/GetManuallyIssuePlan" value="wms" />
		<add key="/api/PdaService/ExecuteManuallyIssuePlan" value="wms" />
		<add key="/api/PdaService/ManuallyIssueMaterialCheck" value="wms" />
		<add key="/api/PdaService/GetBoxInfo" value="wms" />
		<add key="/api/PdaService/GetSortStation" value="wms" />
		<add key="/api/PdaService/BoxInbound" value="wms" />
		<add key="/api/PdaService/ProductToShelvesReq" value="wms" />

		<add key="/api/FactoryWmsService/PrepareProductReq" value="factory" />
		<add key="/api/FactoryWmsService/ReportProductOutbound" value="factory" />
		<add key="/api/FactoryWmsService/ProductShelvesOrOutReq" value="factory" />

		<add key="connectionString" value="Data Source=.;Initial Catalog=thbwms;Persist Security Info=True;User ID=sa;Password=elite;Asynchronous Processing=true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
<!--ProjectGuid: EC190977-913E-46B3-A089-CD8FDCD95E1B-->